{
	parser: "babel-eslint",
	"plugins": [
		"react"
	],
	"rules" : {
		"max-len": [1, 120, 2, {ignoreComments: true}],
		"import/prefer-default-export": "off"
	},
	"extends": ["airbnb-standard"],
	"globals": {
		"localStorage": true
	}
}